@using AutoCareHub.Web.Models.Home
@using System.Security.Claims
@model HomePageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AutoCareHub</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                @foreach (var service in Model.Services)
                {
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img style="max-height:850px" src="@service.ImageUrls[0]" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h3>@(string.Join(", ", service.MainCategories.Select(x => x.Name)))</h3>
                            <h1>@service.Name</h1>
                            @if (service.Description is not null)
                            {
                                @if (service.Description.Length < 100)
                                {
                                    <p>@service.Description...</p>
                                }
                                else
                                {
                                    <p>@(service.Description?.Substring(0, 100) ?? "")...</p>
                                }
                            }
                            <a asp-controller="Service" asp-action="Get" asp-route-id="@service.Id" class="btn btn-custom">Explore More</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>All Services</h2>
            </div>
            <div class="row">
                @foreach (var mainCategory in Model.MainCategories.OrderBy(x => x.Name))
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <h3 style="text-align: center;">@mainCategory.Name</h3>
                            <div class="row">
                                @foreach (var subCategory in mainCategory.SubCategories.OrderBy(x => x.Name))
                                {
                                    <div class="col-6">
                                        <i class="far fa-check-circle" style="font-size:15px; padding-right:5px; line-height:5px; margin-bottom:0px; color:#E81C2E;"></i>
                                        @if (subCategory.Name.Length > 27)
                                        {
                                            @((subCategory.Name.Substring(0, 24)) + "...")
                                        }
                                        else
                                        {
                                            @subCategory.Name
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Facts Start -->
    <div class="facts" style="min-height:300px;" data-parallax="scroll" data-image-src="img/facts.jpg">
        <div class="container pd-left-90">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-map-marker-alt"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">@Model.Services.Count</h3>
                            <p>Service Points</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-users"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">@Model.Users.Count</h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-gears"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">@Model.SubCategoriesCount</h3>
                            <p>Offerings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-contact">
                        <h2>Contacts</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Sofia, Bulgaria</p>
                        <p><i class="fa fa-phone-alt"></i>+359 89 602 0441</p>
                        <p><i class="fa fa-envelope"></i>lachezaratanasov1705@gmail.com</p>
                        <div class="footer-social">
                            <a class="btn" href="https://www.facebook.com/profile.php?id=100012810183329&locale=bg_BG"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href="https://www.instagram.com/luchezar_a/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                            <a asp-controller="Service" asp-action="List">Services</a>
                            <a asp-controller="Appointment" asp-action="ListByUser" asp-route-userId="@Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))">My Appointments</a>
                        </div>
                    }
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Write a ticket</h2>
                        <form>
                            <input class="form-control" placeholder="Title">
                            <input class="form-control" placeholder="Message">
                            <button class="btn btn-custom">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>
