@using AutoCareHub.Web.Models.Services
@model AllServicesQueryModel

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="blog">
        <div class="container">
            @if (Model.Services.Count == 0)
            {
                <div class="section-header text-center">
                    <h2>There are no services.</h2>
                </div>
            }
            else
            {
                <div class="section-header text-center">
                    <h2>Services</h2>
                </div>
                <div>
                    <form method="get">
                        <div class="row" style="padding-bottom:15px;">
                            <div class="col-1">
                                <a asp-controller="Service" asp-action="Create" class="btn btn-custom">Create</a>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-2">
                                <select class="form-control" asp-for="@Model.City">
                                    <option value="">All cities</option>
                                    @foreach (var city in Model.Cities.Distinct())
                                    {
                                        <option value="@city">@city</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" asp-for="@Model.MainCategory">
                                    <option value="">All categories</option>
                                    @foreach (var mainCategory in Model.MainCategories)
                                    {
                                        <option value="@mainCategory">@mainCategory</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <select class="form-control" asp-for="@Model.AllOrMineOption">
                                    <option value="0">All</option>
                                    <option value="1">Mine</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <input class="btn btn-custom"
                                       type="submit"
                                       value="Search"
                                       style="padding-bottom:10px; margin-top:-3px;">
                            </div>
                        </div>
                    </form>
                    <div class="row" style="height:120px;">
                        @foreach (ServiceViewModel service in Model.Services)
                        {
                            <div class="col-lg-4">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <img style="max-height:270px;" src="@service.ImageUrls[0]" alt="Image">
                                        <div class="meta-date">
                                            <span>View</span>
                                            <strong>More</strong>
                                        </div>
                                    </div>
                                    <div class="blog-text">
                                        <h3><a asp-controller="Service" asp-action="Get" asp-route-id="@service.Id">@service.Name</a></h3>
                                        @if ((service.Description?.Length ?? 0) > 250)
                                        {
                                            <p>@service.Description.Substring(0, 250)...</p>
                                        }
                                        else
                                        {
                                            <p>@service.Description</p>
                                        }
                                    </div>
                                    <div class="blog-meta">
                                        <p><i class="fa fa-map-marker-alt"></i><a>@service.City, @service.Address</a></p>
                                        <p><i class="fa fa-comments"></i><a>@service.Comments.Count</a></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>